{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('resources/css/book_show.css') }}">{% endblock %}


{% block navbar %}
    {{ include('inc/navbar.html.twig') }}
{% endblock %}

{% block body %}
    <div class="ui breadcrumb custom_breadcrumb">
        <a class="section" href="{{ path('book.index') }}">Home</a>
        <i class="right angle icon divider"></i>
        <div class="active section">{{ book.name }}</div>
    </div>
    <div class="custom_book_cover">
        <div class="ui two column centered grid">
            <div class="four column centered row">
                <div class="column">
                    <img src="{{ asset('resources/images/') }}{{ book.image }}" alt="book" class="show_image">
                </div>
                <div class="column">
                    <h2>{{ book.name }}</h2>
                    <p>{{ book.description }}</p>
                    <hr/>
                    <p>Author: <span class="custom_common_right">{{ book.author.name }}</span></p>
                    <p>About the author: <span class="custom_common_right">{{ book.author.description }}</span></p>
                    <p>ISBN: <span class="custom_common_right">{{ book.isbn|number_format(0, '.', '-') }}</span></p>
                    <p>Category: <span class="custom_common_right">{{ book.category.name }}</span></p>
                    <p>Availability:
                        <span class="{{ book.availability == 1 ? 'custom_avail_yes' : 'custom_avail_no' }}">
                            {{ book.availability == 1 ? 'In Stock' : 'Out of Stock' }}
                        </span>
                    </p>
                    <p>Publisher: <span class="custom_common_right">{{ book.publisher }}</span></p>
                    <p>Published On: <span class="custom_common_right">{{ book.publishedDate|date("m/d/Y") }}</span></p>
                    <hr/>
                    <p>Rating: <span class="ui star rating" data-rating="{{ book.rating }}"></span></p>
                    <p class="custom_price_cover">

                        {% if book.discount > 0 %}
                            <span class="custom_new_price">
                                    {{ (book.price * (100 - book.discount))/100.0 }} LKR
                            </span>
                            <span class="custom_old_price">
                                {{ book.price|number_format(2) }} LKR
                            </span>
                        {% else %}
                            <span class="custom_new_price">
                                    {{ book.price|number_format(2) }} LKR
                            </span>
                        {% endif %}
                    </p>

                    <div class="ui buttons custom_margin_right">
                        <button class="ui button custom_blue" id="add_btn"><i class="icon plus"></i></button>
                        <div class="or"></div>
                        <div class="ui button custom_blue" id="minus_btn"><i class="icon minus"></i></div>
                    </div>
                    <button class="circular custom_blue ui icon button custom_margin_right" id="item_to_cart">0</button>
                    <form action="{{ path('book.store') }}" class="custom_form_for_shopping" method="POST" id="cart_form">
                        <input type="hidden" name="book_id" value="{{ book.id }}"/>
                        <input type="hidden" name="book_count" id="book_counter"/>
                        <div class="ui primary button" id="add_me_to_cart">
                            <i class="shop icon"></i> Add to cart
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ include('inc/footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('resources/js/book_show.js') }}"></script>
{% endblock %}

