<div class="ui secondary  menu">
    <a class="item {{ active == 'home' ? 'active': '' }}" href="{{ path('book.index') }}">HOME</a>
    <a class="item {{ active == 'create' ? 'active': '' }}" href="{{ path('book.create') }}">CREATE</a>
    <a class="item {{ active == 'cart' ? 'active': '' }}">CART</a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="ui item">
            Logout
        </a>
    </div>
</div>